.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.user-name{
  color:green;
  font-size:24px;
}

.user-surname{
  color:hotpink;
  font-size:24px;
}

.task-list{
  margin: 25px 40%;
}

.task-list div{
  height: 26px;
}

.task-view{
  border:1px solid forestgreen;
  height: 25px;
  margin:0;
  width: 280px;
}

.task-del-btn{
  position: relative;
  top: -26px;
  left: 130px;
}

.task-checkbox{
  display: inline-block;
  position: relative;
  top: 23px;
  left: -126px;

}